In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import numpy as np
import plotly.express as px

### Firm Data Import

In [32]:
firm_data = pd.read_csv("data/raw/Firm_Data.csv")

In [33]:
firm_data.head()

,RIC,Date,Total Current Assets,Total Current Liabilities,Total Debt,"Total Assets, Reported",Net Income - Actual,Revenue Per Share,Total Revenue,Total Equity,Total CO2 Equivalent Emissions To Revenues USD in million,ESG Score,Social Pillar Score,Governance Pillar Score,Environmental Pillar Score,Company Market Capitalization,"Property Plant And Equipment, Total - Gross",P/E (Daily Time Series Ratio)
0,BVIC.L,31/12/2009,434.373405,483.824655,718.957376,1361.504594,107.309409,7.068281,1561.383359,-3.988004,NaN,51.267135,45.539754,59.077651,53.535053,1430.561330,817.381317,19.299905
1,BVIC.L,31/12/2010,579.778906,580.095207,901.298414,1655.358922,139.656087,8.006665,1800.699024,-48.552134,NaN,50.550242,57.622888,31.890959,55.261467,1772.376566,889.120843,16.927900
2,BVIC.L,31/12/2011,598.968478,607.694345,893.154869,1660.096296,122.255528,7.912984,2010.689188,35.059289,NaN,46.732870,57.397993,28.924942,45.229496,1205.126197,836.280911,13.534436
3,BVIC.L,31/12/2012,615.523874,601.137943,907.121844,1658.099764,100.765756,7.914423,2030.840850,59.968319,NaN,57.941343,70.633040,37.216902,55.762859,1603.272359,872.046035,18.363571
4,BVIC.L,31/12/2013,748.229068,814.064189,895.874010,1714.940377,133.919162,8.716901,2133.025672,65.996482,31.296503,49.513243,52.778937,33.146107,58.148148,2819.919676,907.653333,27.421399

In [34]:
firm_data.shape

(24479, 18)

In [35]:
firm_data.columns

Index(['RIC', 'Date', 'Total Current Assets', 'Total Current Liabilities',
       'Total Debt', 'Total Assets, Reported', 'Net Income - Actual',
       'Revenue Per Share', 'Total Revenue', 'Total Equity',
       'Total CO2 Equivalent Emissions To Revenues USD in million',
       'ESG Score', 'Social Pillar Score', 'Governance Pillar Score',
       'Environmental Pillar Score', 'Company Market Capitalization',
       'Property Plant And Equipment, Total - Gross',
       'P/E (Daily Time Series Ratio)'],
      dtype='object')

In [36]:
firm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24479 entries, 0 to 24478
Data columns (total 18 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   RIC                                                        24479 non-null  object
 1   Date                                                       24479 non-null  object
 2   Total Current Assets                                       22689 non-null  float64
 3   Total Current Liabilities                                  22681 non-null  float64
 4   Total Debt                                                 23628 non-null  float64
 5   Total Assets, Reported                                     23663 non-null  float64
 6   Net Income - Actual                                        21343 non-null  float64
 7   Revenue Per Share                                          23617 non-null  float64
 8   Total Revenue                                              23718 non-null  float64
 9   Total Equity                                               23640 non-null  float64
 10  Total CO2 Equivalent Emissions To Revenues USD in million  14408 non-null  float64
 11  ESG Score                                                  17762 non-null  float64
 12  Social Pillar Score                                        17761 non-null  float64
 13  Governance Pillar Score                                    17762 non-null  float64
 14  Environmental Pillar Score                                 17761 non-null  float64
 15  Company Market Capitalization                              22639 non-null  float64
 16  Property Plant And Equipment, Total - Gross                22116 non-null  float64
 17  P/E (Daily Time Series Ratio)                              19110 non-null  float64
dtypes: float64(16), object(2)
memory usage: 3.4+ MB

Share of NaN values in the data

In [37]:
firm_data.isnull().sum() / len(firm_data) * 100

RIC                                                           0.000000
Date                                                          0.000000
Total Current Assets                                          7.312390
Total Current Liabilities                                     7.345071
Total Debt                                                    3.476449
Total Assets, Reported                                        3.333470
Net Income - Actual                                          12.810981
Revenue Per Share                                             3.521386
Total Revenue                                                 3.108787
Total Equity                                                  3.427428
Total CO2 Equivalent Emissions To Revenues USD in million    41.141386
ESG Score                                                    27.439846
Social Pillar Score                                          27.443932
Governance Pillar Score                                      27.439846
Environmental Pillar Score                                   27.443932
Company Market Capitalization                                 7.516647
Property Plant And Equipment, Total - Gross                   9.653172
P/E (Daily Time Series Ratio)                                21.933086
dtype: float64

Converting object to datatime

In [38]:
firm_data["Date"] = pd.to_datetime(firm_data["Date"], format="%d/%m/%Y")
firm_data["Date"].value_counts()

2009-12-31    1883
2010-12-31    1883
2011-12-31    1883
2012-12-31    1883
2013-12-31    1883
2014-12-31    1883
2015-12-31    1883
2016-12-31    1883
2017-12-31    1883
2018-12-31    1883
2019-12-31    1883
2020-12-31    1883
2021-12-31    1883
Name: Date, dtype: int64

### Return Data Import

In [10]:
return_data = pd.read_csv("Return_Data.csv")
return_data = return_data.drop("Unnamed: 0", axis=1)

In [11]:
return_data.head()

,Date,INTU.O,HL,GILG.DE,APH,SGH.O,PMAG.S,RTX,SOLARb.CO,OBEL.BR,...,XYL,SCHN.PA,PRGO.K,TRELb.ST,SRG.MI,LOG.MC,GEO.MI,NRG,MYTr.AT,TEMN.S
0,2000-01-31,0.625652,-12.000000,11.671470,1.971831,0.0,0.0,-18.557692,0.000000,-25.558487,...,0.0,-6.991661,7.421875,-1.045752e+01,0.0,0.0,0.0,0.0,-23.040752,0.0
1,2000-02-29,-12.953368,4.545455,-2.580645,17.771639,0.0,0.0,-3.408844,-2.777778,13.397921,...,0.0,-7.586207,-14.545455,-1.021898e+01,0.0,0.0,0.0,0.0,-18.533605,0.0
2,2000-03-31,3.571429,-4.347826,3.973510,27.912432,0.0,0.0,24.049080,3.428571,-1.521150,...,0.0,-0.447761,3.404255,-8.130081e-01,0.0,0.0,0.0,0.0,1.125000,0.0
3,2000-04-30,-33.908046,-9.090909,5.732484,24.694377,0.0,0.0,-1.582591,2.287293,-14.621244,...,0.0,7.946027,-25.102881,3.516658e+00,0.0,0.0,0.0,0.0,-20.519159,0.0
4,2000-05-31,0.869565,-15.000000,11.862429,-28.235294,0.0,0.0,-2.515897,2.040297,-9.491945,...,0.0,-0.833333,5.494505,-4.023120e-10,0.0,0.0,0.0,0.0,19.284603,0.0

In [12]:
return_data[["Date", "HL"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    261 non-null    object
 1   HL      261 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.2+ KB

In [13]:
return_data["Date"] = pd.to_datetime(return_data["Date"], format="%Y/%m/%d")
return_data["Date"].nunique()

261

We have data from 2000s in the return data. However, in our firm data - we have data only from 2009. 
Hence, we will limit our return data as per the timeline of firm data

In [39]:
firm_data["Date"].min(), firm_data["Date"].max()

(Timestamp('2009-12-31 00:00:00'), Timestamp('2021-12-31 00:00:00'))

In [15]:
return_data["Date"].min(), return_data["Date"].max()

(Timestamp('2000-01-31 00:00:00'), Timestamp('2021-09-30 00:00:00'))

In [16]:
start_date = "2009-01-01"
end_date = "2021-12-31"
mask = return_data["Date"].between(start_date, end_date)
return_data = return_data[mask]

In [17]:
return_data["Date"] = pd.to_datetime(return_data["Date"], format="%Y/%m/%d")
return_data["Date"].nunique()

153

In [18]:
return_data["Date"].min(), return_data["Date"].max()

(Timestamp('2009-01-31 00:00:00'), Timestamp('2021-09-30 00:00:00'))

Transforming columns to rows

In [19]:
return_data = pd.melt(
    return_data, id_vars="Date", var_name="RIC", value_name="returns_monthly"
)

### Combining Return Data with Firm Data

Before we combine, we need to bring return data to year level since firm data is at the year level.

In [20]:
return_data["Year"] = return_data["Date"].dt.year

In [21]:
return_data.head()

        Date     RIC  returns_monthly  Year
0 2009-01-31  INTU.O        -4.791929  2009
1 2009-02-28  INTU.O         0.618102  2009
2 2009-03-31  INTU.O        18.473014  2009
3 2009-04-30  INTU.O       -14.333333  2009
4 2009-05-31  INTU.O        17.682663  2009

In [22]:
returns_yearly = return_data.groupby(
    [return_data["RIC"], return_data["Year"]], as_index=False
)["returns_monthly"].sum()
returns_yearly.rename(
    columns={"returns_monthly": "returns_yearly"}, inplace=True
)
returns_yearly.head()

       RIC  Year  returns_yearly
0  0973.HK  2009        0.000000
1  0973.HK  2010       46.444961
2  0973.HK  2011      -23.899519
3  0973.HK  2012       51.000108
4  0973.HK  2013      -34.498730

In [23]:
returns_yearly.Year.min(), returns_yearly.Year.max()

(2009, 2021)

In [24]:
returns_yearly.to_csv("data/processed/yearly_returns.csv", index=False)

Now we add the yearly returns to firm data

In [40]:
firm_data["Year"] = firm_data["Date"].dt.year

In [41]:
merged_data = firm_data.merge(returns_yearly, how="left", on=["RIC", "Year"])

In [42]:
merged_data.head()

,RIC,Date,Total Current Assets,Total Current Liabilities,Total Debt,"Total Assets, Reported",Net Income - Actual,Revenue Per Share,Total Revenue,Total Equity,Total CO2 Equivalent Emissions To Revenues USD in million,ESG Score,Social Pillar Score,Governance Pillar Score,Environmental Pillar Score,Company Market Capitalization,"Property Plant And Equipment, Total - Gross",P/E (Daily Time Series Ratio),Year,returns_yearly
0,BVIC.L,2009-12-31,434.373405,483.824655,718.957376,1361.504594,107.309409,7.068281,1561.383359,-3.988004,NaN,51.267135,45.539754,59.077651,53.535053,1430.561330,817.381317,19.299905,2009,48.651108
1,BVIC.L,2010-12-31,579.778906,580.095207,901.298414,1655.358922,139.656087,8.006665,1800.699024,-48.552134,NaN,50.550242,57.622888,31.890959,55.261467,1772.376566,889.120843,16.927900,2010,15.557061
2,BVIC.L,2011-12-31,598.968478,607.694345,893.154869,1660.096296,122.255528,7.912984,2010.689188,35.059289,NaN,46.732870,57.397993,28.924942,45.229496,1205.126197,836.280911,13.534436,2011,-33.927688
3,BVIC.L,2012-12-31,615.523874,601.137943,907.121844,1658.099764,100.765756,7.914423,2030.840850,59.968319,NaN,57.941343,70.633040,37.216902,55.762859,1603.272359,872.046035,18.363571,2012,27.226920
4,BVIC.L,2013-12-31,748.229068,814.064189,895.874010,1714.940377,133.919162,8.716901,2133.025672,65.996482,31.296503,49.513243,52.778937,33.146107,58.148148,2819.919676,907.653333,27.421399,2013,56.909555

We drop unnecessary columns

In [43]:
merged_data.drop(
    columns=[
        "Date",
        "Social Pillar Score",
        "Governance Pillar Score",
        "Environmental Pillar Score",
    ],
    inplace=True,
)

In [47]:
merged_data.to_csv("data/processed/merged_firm_returns.csv", index=False)

In [45]:
merged_data.head()

,RIC,Total Current Assets,Total Current Liabilities,Total Debt,"Total Assets, Reported",Net Income - Actual,Revenue Per Share,Total Revenue,Total Equity,Total CO2 Equivalent Emissions To Revenues USD in million,ESG Score,Company Market Capitalization,"Property Plant And Equipment, Total - Gross",P/E (Daily Time Series Ratio),Year,returns_yearly
0,BVIC.L,434.373405,483.824655,718.957376,1361.504594,107.309409,7.068281,1561.383359,-3.988004,NaN,51.267135,1430.561330,817.381317,19.299905,2009,48.651108
1,BVIC.L,579.778906,580.095207,901.298414,1655.358922,139.656087,8.006665,1800.699024,-48.552134,NaN,50.550242,1772.376566,889.120843,16.927900,2010,15.557061
2,BVIC.L,598.968478,607.694345,893.154869,1660.096296,122.255528,7.912984,2010.689188,35.059289,NaN,46.732870,1205.126197,836.280911,13.534436,2011,-33.927688
3,BVIC.L,615.523874,601.137943,907.121844,1658.099764,100.765756,7.914423,2030.840850,59.968319,NaN,57.941343,1603.272359,872.046035,18.363571,2012,27.226920
4,BVIC.L,748.229068,814.064189,895.874010,1714.940377,133.919162,8.716901,2133.025672,65.996482,31.296503,49.513243,2819.919676,907.653333,27.421399,2013,56.909555

In [46]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24479 entries, 0 to 24478
Data columns (total 16 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   RIC                                                        24479 non-null  object
 1   Total Current Assets                                       22689 non-null  float64
 2   Total Current Liabilities                                  22681 non-null  float64
 3   Total Debt                                                 23628 non-null  float64
 4   Total Assets, Reported                                     23663 non-null  float64
 5   Net Income - Actual                                        21343 non-null  float64
 6   Revenue Per Share                                          23617 non-null  float64
 7   Total Revenue                                              23718 non-null  float64
 8   Total Equity                                               23640 non-null  float64
 9   Total CO2 Equivalent Emissions To Revenues USD in million  14408 non-null  float64
 10  ESG Score                                                  17762 non-null  float64
 11  Company Market Capitalization                              22639 non-null  float64
 12  Property Plant And Equipment, Total - Gross                22116 non-null  float64
 13  P/E (Daily Time Series Ratio)                              19110 non-null  float64
 14  Year                                                       24479 non-null  int64
 15  returns_yearly                                             24479 non-null  float64
dtypes: float64(14), int64(1), object(1)
memory usage: 3.2+ MB